# How to import dataset in python using pandas library

Written by: Mansoor Akhter\
Date: 13.11.2024\
Email: mansoorakhter@gmail.com

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("pandas_01_day6.xlsx")

View dataframes in python using pandas

In [ ]:
print(df.head())
print(df.tail())

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.columns[2].title()

In [ ]:
df.describe()

In [ ]:
df.T #transpose

In [45]:
# type casting
df[df.columns[0]] = df[df.columns[0]].astype(str)

In [ ]:
df.sort_index(ascending=False)

   height  weight favourite_dish
86      5      25        Biryani
85      5      31        Biryani
84    5.2      48        Biryani
83    5.6      49  Chicken Pulao
82    5.6      50          Pasta
..    ...     ...            ...
4     5.1      62  Karahi Ghosht
3     5.8      72        Biryani
2    5. 7      72        Biryani
1     5.9      75  Karahi Ghosht
0     5.7      75        Biryani

[87 rows x 3 columns]

In [52]:
df.sort_values(by="weight")

   height  weight favourite_dish
86      5      25        Biryani
85      5      31        Biryani
84    5.2      48        Biryani
83    5.6      49  Chicken Pulao
7       5      50  Chicken Pulao
..    ...     ...            ...
13    5.1      96        Biryani
12    5.8     101  Chicken Pulao
11    5.1     103    Chapel Kaba
10      6     110    Chapel Kaba
9       6     125    Chapel Kaba

[87 rows x 3 columns]

In [ ]:
print(df.dtypes)